// COLORS

$gray01: #27282c;
$gray02: #51514f;
$gray03: #aeafb0;
$gray04: #cad3c5;

$yellow01: #feca12;
$yellow02: #e3e600;

$orange01: #ce952e;

$red: #f13921;

$white: #fff;
$black: #000;

$black01: #26272c;

$blue01: #05407a;
$blue02: #08132f;